{% extends 'tours/base.html' %}

{% block content %}
<h1 class="display-5 mt-4">Летим из <span data-test="from">{{ page_departure }}</span></h1>
<p class="mb-4">Найдено <span data-test="tourcount">{{ tours | length }}</span> туров, от <span data-test="pricemin">{{ min_cost }}</span> до <span
        data-test="pricemax">{{ max_cost }}</span> и от <span data-test="nightsmax">{{ min_nights }}</span> ночей до <span
        data-test="nightsmax">{{ max_nights }}</span> ночей</p>

{% include './inc/cards.html' %}
{% endblock content %}
